footer{
  position: absolute;
  bottom: 0;
}

#partners{
  position: relative;
  width: 100%;
  height auto;
  margin-top: -31rem;
  text-align: center;
}

#partners h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 2.5rem;
  animation: title-animation 2s linear;
}

@keyframes title-animation {
  0% {font-size: 1rem;}
  20% {font-size: 1.5rem;}
  50% {font-size: 2rem;}
  80% {font-size: 3rem;}
  100% {font-size: 2.5rem;}
}

#partners table{
  color: white;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 10rem;
}

#partners td{
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  padding-top: 0.5rem;
}

/* #partners table th{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;

  font-size: 1.5rem;
  height: auto;
} */

#partners .logo-list{
  width: 7rem;
  height: auto;
  padding-top: 1rem;
}

.online-list{
  padding: 0.5rem 0;
}

.partners-list-container{
  width: 100%;
  height: 10rem;
  position: relative;
  margin-top: -10rem;
  padding: 0 0 40rem 0;
}

.partners-title-container{
  position: relative;
  margin-top: 2rem;
  width: 100%;
  height: 6.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
}

.partners-list p{
  margin: 0;
}

.car-container{
  position: absolute;
  margin-top: -10rem;
  width: 100%;
}

.car-img{
  display: block;
  transform: scaleX(-1);
  width: 15rem;
  margin: auto;
  height: 6.5rem;
}

@media all and (max-width: 768px) {

  #partners .logo-list{
    width: 5rem;
    height: auto;
  }

  #partners td{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
  }

  .partners-title-container{
    position: relative;
    margin-top: 4rem;
    width: 100%;
    height: 6.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
  }

}
